.header {
    height: 70vh;
    margin-top:-45px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: wheat;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(250, 14, 14, 0.925);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.7s;
    padding: 0.1rem 1.9rem;
    width: 9rem;
    outline: none;
    margin-bottom: 4rem;
}

.header__button:hover {
    background-color: rgb(196, 4, 4);
}

.header__buttonIcon{
    font-size: 3rem;
}

