.navbar{
    background-color: rgba(247, 247, 247, 0.918);
    width: 100%;
    position: sticky;
    top: 0;
    display: flex ;
    flex-wrap: wrap;
    z-index: 3;
    justify-items: start;
}

.navbar > a {
    text-decoration: none;
    padding: 15px;
    font-size: small;
    font-weight: bolder;
    color: rgb(170, 167, 167);
}

.navbar > a:first-child {
    color: rgb(255, 7, 7);
}