
.navlogo{
    display: flex;
    height: 50px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navlogo__left{
    display: flex;
    align-items: center;
}

.navlogo__leftLogo {
    height:30px;
    width: 60px;
    display: flex;
    justify-content: space-around;
    width: 5vw;
}

.navlogo__text{
    font-size: 15px;
}

.navlogo__textRed {
    font-size: 15px;
    color: rgba(226, 19, 19, 0.911);
    font-weight: bolder;
}

.navlogo__right {
    padding-right: 10px;
}

.navlogo__buttonSearch a{
    display: flex;
    margin: 0;
    padding: 0;
    color: gray;
}